<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-primary min-vh-100">
              <br>
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-primary text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Sistema de Ventas</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                  <a href="#" class="nav-link align-middle px-0">
                      <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Darshboard</span>
                  </a>
              </li>
              <li>
                <a routerLink='/listar' class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                </a>
              </li>

              <li>
                <a routerLink='/auth/users' class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span> </a>
            </li>
            <li>
              <a routerLink='/auth/register' class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Registro</span> </a>
            </li>
            <li>
                  <a routerLink='/auth/pichanga' class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Pichanga</span> </a>
                </li>
              </ul>
              <hr>
          </div>
      </div>
      <div class="col py-2">
        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-body text-center">
                  <span class="titulo">LISTADO DE USUARIOS</span>
                  <button class="btn btn-success float-end" routerLink="/auth/register">NUEVO</button>
                  <table *ngIf="listarUsuarios.length > 0" class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>

                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usuario of listarUsuarios">
                        <td>{{usuario._id}}</td>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.email}}</td>
                        <td>
                          <i [routerLink]="['/editar-usuario',usuario._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                          <i (click)="eliminarUsuario(usuario._id)"class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 style="text-align: start; margin-top: 10px;" *ngIf="listarUsuarios.length == 0">No hay usuarios para mostrar</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
