<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-primary min-vh-100">
            <br>
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-primary text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Sistema de Ventas</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Darshboard</span>
                </a>
            </li>
            <li>
              <a routerLink='/listar' class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
              </a>
            </li>

            <li>
              <a routerLink='/auth/users' class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span> </a>
          </li>
          <li>
            <a routerLink='/auth/register' class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Registro</span> </a>
          </li>
          <li>
            <a routerLink='/auth/pichanga' class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Pichanga</span> </a>
        </li>
            </ul>
            <hr>
        </div>
    </div>
 <form [formGroup]="registrationForm" >
    <div class="table-responsive-sm">
      <table *ngIf="listarUsuarios.length > 0" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th style="Width:80px;" scope="col" *ngFor="let fechas of listarFechas">{{fechas.fecha | date:'MM/dd/yyyy'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of listarUsuarios">
            <td style="Width:180px;">{{usuario.name}}</td>
            <td style="Width:80px;" *ngFor="let fechas of listarFechas">
              <label *ngFor="let listaDato of listarDatos" >
                <input type="radio" name="dato" [value]="listaDato._id" (change)="OnChange($event)">
                {{listaDato.dato}}
              </label>
            </td>
           </tr>
        </tbody>
      </table>
    </div>
 </form>
</div>

